body {
 background-image: url('http://kidsprintablescoloringpages.com/data/media/58/Labyrinth_coloring_pages_1005.gif');
 background-repeat: no-repeat;
}

img {
 position: relative;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
